
.parent {
   background-color:rgb(115,255,4);
   padding: 30px;
  }
  
  .child {
   background-color: rgb(202,95,27);
 
   padding: 3px;
  }
  #itemName{
    padding: 10px;
  }
  #itemPrice{
    padding: 10px;
  }
  .child li{
    padding: 0px;
    margin-left: 30px;
  }
  